<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://i.imgur.com/T3L0zv6.png" class="brand_logo" alt="Logo">
        </div>
        <h4 class="margin-top-title text-white text-center">Create an account!</h4>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && createUser()"
              novalidate class="login_form">
          <div class="text-center"><label class="text-white text-center" for="userName">Enter a username</label></div>
          <div class="input-group">
            <div class="input-group-append"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
            <!-- USER NAME INPUT-->
            <input placeholder="Username"
                   type="text"
                   name="userName"
                   id="userName"
                   class="form-control"
                   [(ngModel)]="userModel.userName"
                    #userName= "ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && userName.invalid}"
                    required>
            <!-- input validation group -->
            <div *ngIf = "f.submitted && userName.invalid" class="invalid-tooltip invalid_message">
              <!-- individual validation errors-->
              <div *ngIf="userName.errors?.required">Username is not valid</div>
            </div>
          </div>
          <div class="text-center"><label for="password" class="text-white text-center">Enter a password</label></div>
          <div class="input-group mb-3 text-center">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <!-- Password INPUT-->
            <input type="password"
                   name="password"
                   id="password"
                   class="form-control input_form"
                   placeholder="Password"
                   [(ngModel)]="userModel.password"
                   #password = "ngModel"
                    [ngClass]="{'is-invalid': f.submitted && password.invalid}"
                    required>
            <!-- input validation group -->
            <div *ngIf = "f.submitted && password.invalid" class="invalid-tooltip text-center invalid_message">
              <!-- individual validation errors-->
              <div *ngIf="password.errors?.required">Password is not valid</div>
            </div>
          </div>
          <!-- Login Button -->
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit"
                    class="btn login_btn">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

