<div class="container-fluid">
  <div class="dashboard-welcome">
    <h3>Welcome to your dashboard {{userModel.userName}}!</h3>
  </div>
  <div class="row video-container" style="margin-top: 28px;">
    <div class="dashboard-header">
      <h1 class="dashboard-header-title">{{userModel.userName}}'s video upload history</h1>
    </div>
    <div class="video-wrapper">
      <div *ngFor="let video of allVideos.slice().reverse()" class="video-list-container">
        <div class="video-details">
          <h5>{{video.videoName}}</h5>
          <button (click)="onVideoSelect(video.videoId);lgModal.show();" class="comment-button">View Video
          </button>
        </div>
        <video class="video-fluid z-depth-1" poster="">
          <source src="{{video.videoPath}}" type="{{video.videoType}}"/>
        </video>

        <div bsModal #lgModal="bs-modal" class="modal fade video-modal" tabindex="-1"
             role="dialog" aria-labelledby="dialog-sizes-name1">
          <div class="video-modal-contents">
            <video class="video-fluid z-depth-1" controls="controls" poster="">
              <source src="{{video.videoPath}}" type="{{video.videoType}}"/>
            </video>
            <div class="video-comment-button" (click)="toggleHiddenDiv();">
              -Click to view comments-
              <!--                <button (click)="toggleHiddenDiv();" class="comment-button">Click to view comments-->
              <!--                </button>-->
            </div>

            <div *ngIf="isShow" class="comments-container">
              <div *ngFor="let comment of video.comments" id="individual-comment">
                <div>
                  <div class="comment-details comment-details-top">
                    <p>{{comment.username}}</p>
                    <p>{{comment.dateCreated | date:'M/d/yy - h:mm a'}}</p>
                  </div>
                  <div class="comment-details">
                    <p class="comment-message">{{comment.message}}</p>
                  </div>
                </div>
              </div>
              <div class="form-group shadow-textarea">
            <textarea class="form-control z-depth-1"
                      id="exampleFormControlTextarea6"
                      [(ngModel)]="commentModel.message"
                      rows="3" (keyup.enter)="addCommentToVideo(video.videoId)"
                      placeholder="Enter your comment here...">
            </textarea>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

