<div class="container-fluid">
  <!-- Video content -->
  <div class="row justify-content-center" style="margin-top: 28px;">
    <!-- Videos Menu -->
    <div *ngIf="!singleVideo" class="col-md-8">
      <!-- Videos List -->
      <div *ngFor="let video of allVideos.slice().reverse()" class="video-list-container">
        <div class="video-details w-100">
          <h5>{{video.videoName}}</h5>
          <button (click)="onVideoSelect(video.videoId);populateSingleVideoAndShow(video.videoId)" class="">Video page & Comments</button>
        </div>
        <video class="video-fluid" controls="controls" poster="">
          <source src="{{video.videoPath}}" type="{{video.videoType}}" />
        </video>
      </div>
    </div>
  </div>
  <div *ngIf="singleVideo" class="single-video">
    <div class="video-details w-100">
      <h5>{{singleVideoModel.videoName}}</h5>
      <div class="video-buttons">
        <button (click)="onVideoSelect(singleVideoModel.videoId);toggleHiddenDiv();" class="">Show Comments</button>
        <button (click)="singleVideo=!singleVideo; isShow=false" class="">Back to videos</button>
      </div>
    </div>
    <video class="video-fluid" controls="controls" poster="">
      <source src="{{singleVideoModel.videoPath}}" type="{{singleVideoModel.videoType}}" />
    </video>
    <div *ngIf="isShow" [@isShow]="isShow ? 'show' : 'notshow'" class="comment-container">
      <div class="form-group shadow-textarea">
        <input class="form-control z-depth-1"
               id="input-field"
               [(ngModel)]="commentModel.message"
               (keyup.enter)="addCommentToVideo(singleVideoModel.videoId); commentModel.message = ''"
               placeholder="Enter your comment here..."
        >
      </div>
      <div *ngFor="let comment of singleVideoModel.comments.slice().reverse()" id="individual-comment" >
        <div>
          <div class="comment-details comment-details-top">
            <p>{{comment.username}}</p>
            <p class="comment-details-top-date">{{comment.dateCreated | date:'M/d/yy-h:mm a'}}</p>
          </div>
          <div class="comment-details">
            <p class="comment-message">{{comment.message}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
