<div class="container-fluid">
    <!-- Video search and upload menu -->
    <div class="row justify-content-center" style="margin-top:12px;">
        <div class="col-md-8">
            <input type="text"
                   class="form-control"
                   style="width: 100%;"
                   placeholder="Search videos...">
        </div>
    </div>


    <!-- Video content -->
    <div class="row justify-content-center" style="margin-top: 28px;">
        <!-- Videos Menu -->
        <div class="col-md-8">
            <!-- Videos List -->
            <div *ngFor="let video of allVideos.slice().reverse()" class="list-group list-group-flush video-list-container">
                <div class="video-details w-100 text-center">
                    <h5>{{video.videoName}}</h5>
                </div>
                <video class="video-fluid z-depth-1"controls="controls" poster="">
                    <source src="{{video.videoPath}}" type="{{video.videoType}}" />
                </video>
            </div>
        </div>
    </div>
</div>
